<div><app-widget-area></app-widget-area></div>

<br />

<mat-divider></mat-divider>

<br />

<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
  class="start-cards"
>
  <mat-card fxFlex="25">
    start
  </mat-card>
  <mat-card fxFlex="25">
    start.
  </mat-card>
  <mat-card fxFlex="25">
    start.
  </mat-card>
  <mat-card fxFlex="25">
    start
  </mat-card>
</div>

<mat-divider></mat-divider>

<div>
  <div>
    Table
  </div>
  <div>
    Pie Chart
  </div>
</div>
